body {
	background-color: #FFE;
}

h2 {
	color: #900;
}

a {
	color: #900;
}



The background color for the page is #FFE
The color for the text reading "Nutrition Information" is #887
The link color is #900

Bonus: The border on the page and around the image is black